*
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
}
/* Top-social-section */
#top-social-section
{
    background-color: rgb(243, 242, 242);
    color: #000;
}
#top-social-section p
{
    margin-top: 4px;
    margin-bottom: 8px;
}
#top-social-section button
{
    background-color: #6600cc;
    color: #fff;
    border: 0;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
}
#top-social-section span
{
    margin: 0 24px;
}
#top-social-section i.fab
{
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 8px;
}
#language
{
    border: 0;
    background-color: inherit;
    color: #000;
    margin-top: -2px;
}

/* top-contact-section */
#top-contact-section a
{
    color: #000;
    text-decoration: none;
}
#top-contact-section a h2
{
    font-family: "Forte";
    font-size: 30px;
    margin: 21px 0 0px 0;
    font-weight: 110!important;
}
#top-contact-section i.logo
{
    font-size: 26px;
    margin-right: 15px;
    color: #6600cc;
}
#top-contact-section p.font-weight-bold
{
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 500!important;
}
#top-contact-section p.text-secondary
{
    margin-top: 0;
    font-size: 14px;
}
.fa-phone, .fa-map-marker, .fa-clock
{
    margin: 1.8rem 1rem 0 1rem;
    color: #6600cc;
}

/* Header-Section */
#header
{
    background: url('../images/header3.jpg') 0 0 no-repeat;
    background-size: cover;
}
#header
{
    margin-top: -25px;
    padding-bottom: 12rem;
}
#header-heading h1
{
    font-size: 2.8rem;
    color: #fff;
    text-shadow: 10px 10px 8px #000;
    margin-bottom: 2.5rem;
    margin-top: 8rem;
}
#header-heading
{
    margin-left: 6rem;
}
#btn-header a.btn
{
    text-transform: uppercase;
}
.abt-btn
{
    background: #fff;
    color: #000;
    border-radius: 0%!important;
    margin-right: 1rem;
    font-size: 15px;
    font-weight: 550;
    padding: 8px 20px;
}
.row
{
    margin: 0px!important;
}
.serv-btn
{
    background-color: #6600cc;
    color: #fff;
    font-size: 15px;
    font-weight: 550;
    padding: 8px 20px;
    border-radius: 0%!important;
}
.serv-btn:hover
{
    color: #fff;
}
#below-header
{
    background: #1a0033;
    padding: 25px 0;
}
#below-heading p.main-heading
{
    color: #fff;
    font-weight: 100;
    font-size: 25px;
    font-weight: 350;
    margin-bottom: 0;
}
#below-heading p.lead
{
    color: rgb(219, 219, 219);
}
#below-button
{
    margin: auto 0;
}
#below-button a
{
    margin: auto 0;
    font-weight: 420;
    letter-spacing: 1px;
}

/* About-section */
#about-section
{
    margin: 60px 0;
}
h2.section-heading
{
    color: #000;
    text-align: center;
    font-weight: bold;
}
h2.section-heading::after
{
    content: "";
    background: #1a0033;
    width: 80px;
    height: 5px;
    margin: 20px auto;
    display: block;
}
.about-us
{
    margin-bottom: 30px;
}
#about-us-card div.card
{
    border: 0px;
    border-radius: 0%!important;
}
#about-us-card .card-color
{
    background-color: #fff;
    box-shadow: 1px 5px 12px #a6a6a6;
}
#about-us-card .card-header
{
    padding-top: 30px;
    padding-bottom: 12px!important;
    background: inherit;
    position: relative;
}
#about-us-card .card-body
{
    padding-top: 10px!important;
}
#about-us-card 
p.abt-card-heading
{
    font-size: 19px!important;
    font-weight: 600!important;
    margin-bottom: 5px!important;
    text-transform: capitalize;
}
#about-us-card p.card-text
{
    text-transform: capitalize;
}
#about-us-card div.bg-image
{
    background: url('../images/card-bg.jpg') 0 0 no-repeat;
    background-size: cover;
    /* position: relative; */
}
/* Navigation Bar */
#top-nav
{
    background-color: #1a0033;
    padding: 0px 0px!important;
    position: relative;
}
#nav-menu
{
    display: inline;
    padding: 0;
    margin: 0;
    list-style: none;
}
#nav-menu li
{
    display: inline-block;
    list-style: none;
}
#nav-menu li a
{
    display: block;
    text-decoration: none;
    padding: 14px 20px;
    color: #fff;
    transition-duration: 0.3s;
    text-transform: uppercase;
    font-size: 14px!important;
    margin: 0px;
}
#nav-menu li a:hover
{
    background-color: #6600cc;
}
#nav-menu li a.active
{
    background-color: #6600cc;
}
#nav-links
{
    padding: 11px 24px;
}
#nav-links a
{
    color: #fff;
    margin-left: 11px;
}
.slide-nav-btn1, .slide-nav-btn2, .slide-nav-btn3
{
    width: 32px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    transition-duration: 0.5s;
    display: none;
    cursor: pointer;
}
#side-nav
{
    height: 100%;
    z-index: 1;
    background-color: #1a0033;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    padding-top: 10px;
    width: 0;
    cursor: pointer;
    transition-duration: 0.6s;
}
#side-nav-links
{
    padding: 50px 28px;
    margin: 0px!important;
}
.close-nav
{
    color: #f2f2f2;
    font-size: 42px;
    position: absolute;
    top: 0;
    right: 25px;
    text-decoration: none!important;
    transition-duration: 0.2s;
    cursor: pointer;
}
.close-nav:hover
{
    color: #ab6beb;
}
#side-nav-links a
{
    display: block;
    text-decoration: none;
    color: rgb(235, 232, 232);
    padding: 5px 0 5px 0;
    text-transform: uppercase;
    font-size: 20px;
    /* font-weight: bold; */
    text-align: center;
    letter-spacing: 1px;
}
#side-nav-links a:hover
{
    color: #ab6beb;
}
/* FeedBack Section */
#feedback-section
{
    margin: 60px 0px;
    background: url('../images/feedback.jpeg') 0 0 no-repeat;
    background-size: cover;
    padding: 30px 0;
    position: relative;
}
#feedback-section::before
{
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.f-h
{
    position: relative;
}
#feedback-section h2.text-center
{
    color: #fff;
}
#feedback-section p.text-center
{
    color: #fff;
}
#feedback-section div.row
{
    margin: 0!important;
}
#feedback-section i
{
    color: #fff;
}
#feedback-section p
{
    font-size: 14px;
}
#feedback-section h1
{
    font-size: 52px;
}
/* Industries-section */
#industries-section
{
    margin: 60px 0;
}
#industries-section div.row
{
    margin-top: 0px!important;
}
#industries-section i.fas
{
    color: #6600cc;
}
div.indus-sec
{
    border-radius: 2%;
    background: rgb(248, 248, 248);
    margin-bottom: 10px;
}
p.i-section-heading
{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px!important;
}
p.i-section-content
{
    padding-bottom: 0px!important;
    font-weight: 400;
}
/* Our Team Section */
#team-section
{
    margin-top: 60px;
    background-color: #eee;
    padding: 50px 0;
}
#team-section div.team
{
    width: 25%;
    background-color: #6600cc;
    margin: 10px;
    position: relative;
}
#team-section img
{
    margin: 2px auto!important;
}
.team-img
{
    position: relative;
    transition-duration: 0.5s!important;
}
.team-img:hover .team-title
{
    opacity: 1;
}
.team-title
{
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition-duration: 0.7s!important;
    background: #1a0033;
    color: #fff;
}
.team-title a
{
    margin-right: 10px;
    color: #dbc5f1;
    font-size: 18px;
}
.team-title a:hover
{
    color: #fff;
}
/* Call Back Section */
#call-section
{
    background: url('../images/call_section_bg.jpg') 0 0 no-repeat;
    background-size: cover;
    padding: 50px 0;
    position: relative;
}
#call-section::before
{
    content: "";
    background: rgba(26, 0, 51, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#call-section h2
{
    position: relative;
}
#call-section p
{
    font-size: 14px;
    position: relative;
}
#call-section input
{
    margin: 0px 10px;
    width: 25%;
    padding: 6px;
    position: relative;
}
#call-section button
{
    position: relative;
}
/* Brands-section */
#brands-section
{
    background: #eee;
    padding: 60px 0px;
}
/* Footer Section */
#footer-section
{
    background: #1a0033;
    padding: 40px 0;
    color: #dbc5f1;
}
#footer-section a.logo-brand
{
    color: #fff;
    text-decoration: none;
}
#footer-section a h2
{
    /* font-family: "Forte"; */
    font-size: 26px;
    /* margin: 21px 0 0px 0; */
    font-weight: 110!important;
}
#footer-content-1 p
{
    font-size: 14px!important;
    color: #dbc5f1;
}
.footer-headings
{
    color: #fff;
    font-weight: 640;
}
ul.footer-links
{
    list-style: none;
    padding-left: 0px!important;
}
ul.footer-links a
{
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 4px;
    color: #dbc5f1;
    margin-top: 20px;
}
ul.footer-links a:hover
{
    color: #fff;
}
.footer-icons
{
    margin: 3px 6px 0 2px;
    color: #dbc5f1!important;
}
#footer-links li
{
    margin-top: 20px;
}
.news-email
{
    border-color: #1a0033;
    background: #0c0116;
    color: #fff;
    border-radius: 0%;
    outline: none;
    outline-width: 0;
    outline-style: none;
    outline-color: transparent;
    outline-offset: 0;
}
.news-btn
{
    padding-bottom: 30px!important;
    font-size: 14px;
}
/* Second-Footer-Section */
#footer-section-second
{
    background: #130024;
    margin: 0!important;
}
.copyright
{
    color: #dbc5f1;
    margin: auto 0 !important;
}
div.footer-social-icons a
{
    color: #dbc5f1;
    background: #39115e;
    margin: 0!important;
    border-radius: 0!important;

}
div.footer-social-icons a:hover
{
    color: #fff;
    background: #6600cc;
}
/* Media Query */
@media screen and (max-width: 768px)
{
    #top-social-section button
    {
        padding: 8px 14px;
    }
    #top-social-section span
    {
        margin: 0 18px;
    }
    #top-social-section i.fab
    {
    margin-top: 12px;
    margin-right: 4px;
    margin-left: 4px;
    }
    #top-social-section p.lead 
    {
        font-size: 1.1rem;
    }
    .fa-phone, .fa-map-marker, .fa-clock
    {
    margin: 1.8rem 1rem 0 0;
    }
    .t-a-p
    {
        display: none!important;
    }
    .abt-btn
    {
        margin-bottom: 1rem;
    }
    #header
    {
        margin-top: 12px!important;
    }
    
}

@media screen and (max-width: 1000px)
{
    #header-heading
    {
    margin-left: 1rem!important;
    }
}

@media screen and (max-width: 800px)
{
    #nav-menu
    {
        display: none!important;
    }
    #nav-links
    {
        display: none!important;
    }
    .slide-button
    {
        margin-top: 4.5px!important;
        margin-bottom: 5.5px!important;
    }
    .slide-nav-btn1, .slide-nav-btn2, .slide-nav-btn3
    {
        display: block;
    }
    #header
    {
        margin-top: 0px!important;
    }
    #top-contact-section
    {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 990px)
{
    #call-section input
    {
    width: 100%;
    margin: 2px auto;
    }
    #call-section button
    {
        margin-top: 3px;
    }
    .copyright
    {
        margin-top: 8px !important;
    }
    .footer-social-icons{
        margin-top: 8px !important;
        margin-bottom: 8px;
    }
}